.uploader {
  display: flex;
  /* background-color: aquamarine; */
  /* min-height: 100vh; */
  height: 580px;
  padding: 50px;
}

.upload_section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  /* background-color: blueviolet; */
  gap: 20px;
}
.uploader_heading {
  font-size: 3rem;
  font-weight: bold;
}
.dropbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
  border: 1px dotted var(--border);
  border-radius: 10px;
  padding: 20px;
  p {
    color: var(--text_secondary);
  }
}
.btn {
  padding: 10px 20px;
  background-color: rgb(255, 228, 145);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(255, 228, 145, 0.9);
}
.results_section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 1px dotted var(--border);
  /* background-color: chocolate; */
}
.status_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.status {
  font-size: 2rem;
  font-weight: bold;
  color: var(--text_secondary);
}
